---
title: サイトを持つメリット
description: 個人のサイトを持つにあたっての一番のメリットは知名度が上がることです。
---
#wordpress-page
  #page-title
    %div= image_tag('hd-wordpress.jpg', class: 'img-responsive img-rounded')

  %h2.text-center= icon('question', 'サイトを持つメリットとは', style: 'color: #999999;')

  %h4　サイトを作ることによってどんなメリットがあるんでしょうか。

  %div= image_tag('wordpress_image12.png', class: 'img-responsive img-rounded')


  %h3= icon('home', 'そもそもサイトとは？', style: 'color: #FF0000;')

  %p 一般的にウェブサイトと呼ばれるもので、会社の情報や営業時間、問い合わせ先などを表記している、会社の自己紹介ページのこと。お客様が求めている情報を的確に伝えるためにとても必要なものです。しっかり管理し、情報を乗せることで、見る側からの信頼感も得ることができます。

  %p 最近では、必要な情報は何でもネットから探すようになってきているので、サイトを持つと言うことは非常に重要になってきています。

  %h4 ここで、サイトを作るメリットをご紹介します。

  %ul
    %li
      = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
      %strong 予約がスムーズに行える
    %li
      = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
      %strong 知りたい情報が素早く知れる
    %li
      = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
      %strong 問い合わせが気軽にできる
    %li
      = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
      %strong 伝えたい情報を広く伝えることができる
    %li
      = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
      %strong 知名度が上がる













  .row
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #FF8000;')
        %strong 更新がとても簡単
      %p.text-center
        %div= image_tag('wordpress_image.png', class: 'img-responsive img-rounded')
      %p パソコン初心者が、「HTML」をいじり少し変更を加えようとすると、それなりの知識が必要になってしまいます。実際、代行でサイト作成を頼んでもその後の更新に行きづまり結局野放しにしてしまっているという例も。しかしWordPressの場合、初心者でも簡単に更新することが出来るんです。
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #FF8000;')
        %strong 利用率ダントツNO.1
      %p.text-center
        %div= image_tag('wordpress_image11.png', class: 'img-responsive img-rounded')
      %p 日本での利用率が、ダントツNo.1！その理由はやはり、使い方が簡単で分かりやすく自分でオリジナル感を出せるからでしょうか。サイト作成代行者の間などでも広く使われています。
      %a{href: 'http://kyasper.com/service/wordpress/'} 出典：世界で最も使用されているCMS、WordPress（ワードプレス）で作るホームページ | 福島県郡山市のホームページ制作、Web制作　Kyasper Web Design キャスパーウェブデザイン

  .row
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #FF8000;')
        %strong プラグインや、複雑な更新も簡単に
      %p.text-center
        %div= image_tag('wordpress_image6.png', class: 'img-responsive img-rounded')
      %p 通常HTMLで作成するのはとても面倒なサイドバーや、リスト記事などの複雑なものでも素人でも簡単に導入でき、納得のいくものに仕上げることが出来ます。
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #FF8000;')
        %strong 自分で構成を変えたり、固定ページを作る事が出来る
      %p.text-center
        %div= image_tag('wordpress_image7.png', class: 'img-responsive img-rounded')
      %p 通常のブログサイトなどでは固定ページを作ることは出来ません。その為、一番見てもらいたいページが、新しい記事を書くことによって流れてしまう訳ですが、固定ページを作ることによって常に上に表示することができます。更にデザインも、機能の追加や構成を変えることによってオリジナルティ溢れる、個性を生かすサイトを作ることが出来ます。

  .row
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #FF8000;')
        %strong 検索エンジンに強い
      %p.text-center
        %div= image_tag('wordpress_image9.png', class: 'img-responsive img-rounded')
      %p 検索エンジンとはGoogleやYahoo!などの検索サイトのこと。WordPressで作成することによって検索エンジン上位に表示されやすくなり、アクセス数の向上が見込めます。
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #FF8000;')
        %strong バックアップが簡単にできる
      %p.text-center
        %div= image_tag('wordpress_image8.png', class: 'img-responsive img-rounded')
      %p 大事なデータがウイルスによって消えてしまった！間違って消してしまった！そんな時のためのバックアップは必須ですが、通常のブログサイトなどは実はバックアップを簡単に取ることが難しいんです。しかしWordpressなら全てのデータを完全にバックアップすることが可能！安心して作ることができます。


  %h3= icon('thumbs-o-down', 'デメリット', style: 'color: #0000FF;')

  %ul
    %li
      = icon('exclamation-triangle', nil, style: 'color: #0080FF;')
      %strong 初心者向けではない
    %li
      = icon('exclamation-triangle', nil, style: 'color: #0080FF;')
      %strong 英語での説明が多い

  .row
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #0080FF;')
        %strong 初心者向けではない
      %p.text-center
        %div= image_tag('wordpress_image10.png', class: 'img-responsive img-rounded')
      %p 上記で述べたように、WordPressのメリットは自分でプラグインをして機能を増やしたり構成を変えたりできるので、複雑なカスタマイズをしようとすると難しいです。しかし裏を返せば更新自体はとても簡単なので、サイトの基礎さえ出来てしまえばその後のメンテナンスはとても楽なものになります。
    .col-xs-12.col-md-6
      %h4.text-center
        =icon('exclamation-triangle', nil, style: 'color: #0080FF;')
        %strong 英語での説明が多い
      %p.text-center
        %div= image_tag('wordpress_image6.png', class: 'img-responsive img-rounded')
      %p もともと外国で作られたソフトなので、まだまだ日本での対応、サポートなどはありません。しかし簡単な更新やカスタマイズなどは日本語対応されています。


  %p この様にメリットがあればもちろんデメリットもありますが工夫次第ではとても使いやすいものです。

  %p ユーキューブではこのWordPressを使い素敵なサイトを提案させて頂きます。通常のサイトの作成代行とは違いサーバー準備などの面倒な手間は必要ありません。更に、更新の度にお金を払うシステムでは無くお客様自身で簡単な更新を行うことで無駄な課金をする必要もありません。
  %h4 一緒に考え、構成し、納得の行く素敵なサイトを作ってみませんか？
