---
title: WordPress おまかせ保守運用
description: WordPress の保守（サーバー、バックアップ、セキュリティなど面倒な業務）をまとめて月2万円で請け負います。
---
#operation-wordpress-page
  #page-title
    %div= image_tag('hd-wordpress.jpg', class: 'img-responsive img-rounded')
    %h1 WordPress おまかせ保守運用
= partial 'operations/what'
%h2.lead-header 面倒なことは弊社にまかせ、本質的な業務に専念できます。
.row
  .col-xs-12.col-md-4= partial 'operations/p_server'
  .col-xs-12.col-md-4= partial 'operations/p_backup'
  .col-xs-12.col-md-4= partial 'operations/p_security'
%h2.lead-header さらに、多数の運用実績を活かし、成果が出るようお手伝いします。
.row
  .col-xs-12.col-md-4= partial 'operations/p_domain'
  .col-xs-12.col-md-4= partial 'operations/p_seo'
  .col-xs-12.col-md-4= partial 'operations/p_support'
= partial 'operations/pricing', locals: { per_month: 20000 }
.row
  .col-xs-12.col-md-8.col-md-offset-2
    = partial 'partials/inquiry_form'
