---
title: レスポンシブデザインとは
description: レスポンシブデザインとは、一つのページで、携帯やパソコンなどの様々な機器で対応できるデザインのことです。
---
#responsive-page
  #page-title
    %div= image_tag('hd-responsive.jpg', class: 'img-responsive img-rounded')
    %h1 レスポンシブデザイン


  %h2.text-center= icon('question', 'レスポンシブデザインとは', style: 'color: #999999;')

  %h4 レスポンシブデザインとは、パソコン、携帯電話、スマートフォンなど、様々な機器の画面サイズに対応出来るページデザインの事です。


%h3 たとえばこんな経験はありませんか？

%p パソコンで見ると素敵なデザインなのに、スマートフォンから見るとまるで視力検査の様な文字サイズ。見にくいのでページを閉じる・・・。これでは観覧数は勿論、新規客だけでなく顧客も失ってしまう可能性があります。そんな時に役立つのが、このレスポンシブデザイン。
%p パソコン用、スマートフォン用と二つページを用意し、デザインを変えて作るのも一つの方法ですが、このレスポンシブデザインを使うことによってのメリットをご紹介します。


%div= image_tag('rwd.jpg', class: 'img-responsive img-rounded', border: '5')
%p 画像のように、パソコンでみた場合、タブレットでみた場合、スマートフォンでみた場合と、見やすいようにデザイン変更されていますね。


%h3= icon('thumbs-o-up', 'メリット', style: 'color: #FF0000;')

%ul
  %li
    = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
    %strong 一つのページで、どの機器にでも対応が可能
  %p ページ一つをつくるだけでどの機器にも対応可能なので、これから先新しく出るであろうサイズにも対応が可能です。新しい機器が出るたびに更新する手間が省けます。

  %li
    = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
    %strong 更新の手間が省ける
  %p パソコン用、スマートフォン用でページ分けをしている場合、どちらも更新するとなると手間が二倍になりますが、ページが一つだと更新も楽々。

  %li
    = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
    %strong SEO対策に有利
  %p SEOとは、検索エンジン最適化のことです。つまり、検索時に上位に来やすくなるということ。上位に上がれば上がるほど、人目に付きやすくなるので知名度が上がります。

  %li
    = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
    %strong コストや時間が節約できる
  %p 上記で述べたように、ページの更新が一つになると更新時間の短縮、更新を依頼した場合にも一ページ分で済むのでコストもお安くなります。

  %li
    = icon('exclamation-triangle', nil, style: 'color: #FF8000;')
    %strong リンクが一つで済むのでシェアがしやすくなる
  %p ページを一つにすることによって、リンクが一つに絞れるので、観覧者が分散することなく情報を伝えることが出来るようになります。


%p スマートフォンのアクセスが半数を超えることも多く、スマートフォンに対応しているかどうかが検索順位に影響するため、これからの標準的手法になっていきます。

%h3 ユーキューブでは、このレスポンシブデザインを使い素敵なサイトを提案させて頂きます。



.row
  .col-xs-12.col-md-8.col-md-offset-2
    = partial 'partials/inquiry_form'
