---
title: 導入事例
description: レスポンシブデザインの導入事例をご紹介しています。
---
#sample-page
  #page-title
    %div= image_tag('hd-sample.jpg', class: 'img-responsive img-rounded')
    %h1 導入事例紹介


%h2 レスポンシブデザインで作られたページ例をいくつかご紹介いたします。
%p スマートフォン、デスクトップ、ipadなどで見た例です。どの機器にも対応するデザインで作らせていただいております。

%h3 癒し処まごころ庵　ご担当者　N様

%div= image_tag('sample.jpg', class: 'img-responsive img-rounded', border: '5')

%p もともとサイトをお持ちで、それに手を加えデザインさせていただいたページです。


%h2 お見積もり例
%ul
  %li 内容や画像はそのままで、レスポンシブ対応ページに変更しました
  %li 掲載されている内容を大きく追加・変更はしていません
  %li 予約シムテムの導入もさせていただいております
  %li 長期契約をいただいているので割引させていただいております
  %li パンフレットもあわせて制作させたいただきました
  %li SEO対策などのおまかせ保守運用分込みです（２年分）

  %p
    総額　約
    %span.pricing ¥500,000

%h3 有限会社Chiffon　ご担当者　T様

%div= image_tag('sample2.jpg', class: 'img-responsive img-rounded', border: '5')

%p もともとサイトをお持ちでしたが、大きく変え、レスポンシブデザインにさせていただきました。


%h2 お見積もり例
%ul
  %li レスポンシブ対応ページに作り替えました
  %li 画像や内容は残し、外観を大きくリニューアルしました
  %li SEO対策などのおまかせ保守運用分込みです（１年分）

  %p
    総額　約
    %span.pricing ¥400,000

%h3 栄美寿造園株式会社　ご担当者　I様

%div= image_tag('sample3.jpg', class: 'img-responsive img-rounded', border: '5')

%p もともとサイトをお持ちで、大きくは変えずにレスポンシブデザインにさせていただきました。


%h2 お見積もり例
%ul
  %li 内容や画像はそのままで、レスポンシブ対応ページに変更しました
  %li 掲載されている内容を大きく追加・変更はしていません
  %li 今までは更新のたびに費用がかかっていましたが、店舗から直接更新出来るよう変更しました
  %li SEO対策などのおまかせ保守運用分も込みです（１年分）

%p
  総額　約
  %span.pricing ¥250,000

%h2 注意事項
%p 作る内容や、種類、内容によって料金は変わります。
%p こんなことがしたいや、デザインの希望があるなど、サイトをお持ちでない方でも一から丁寧にご相談に乗らせていただきます。
%p サイト作成後の管理業務や、サポートにも応じさせていただきます。
%p その他、長期割引、複数サイト割引、ご紹介割引などもございます。
%h3 まずはお気軽に無料見積もりでご相談ください。
%p 　
.row
  .col-xs-12.col-md-8.col-md-offset-2
    = partial 'partials/inquiry_form'
