---
title: 事業内容・制作実績
---
#works-page
  #page-title
    %div= image_tag('hd-works.jpg', class: 'img-responsive img-rounded')
    %h2 事業内容・制作実績
  %h3 商品情報
  .services.row.container-fluid.little-gutter
    .col-xs-12.col-sm-6.col-lg-3
      %section.service
        %h1 おまかせ WordPress
        %p WordPress の保守・運用をお客様に代わって引き受けます。
        %p.text-center= link_to(icon('hand-o-right', '詳しく見る'), '/operations/wordpress/', class: 'btn btn-primary')
  %h3 制作実績
  .services.row.container-fluid.little-gutter
    .col-xs-12.col-sm-6.col-lg-3
      %section.service#yo-counter
        %h1 YoCounter
        %p can generate YoCounter buttons for your own websites.
        %p.text-center= link_to(icon('rocket', 'Get started'), 'http://counter.justyo.co/', class: 'btn')
  %h3 運用メディア
  .services.row.container-fluid.little-gutter
    .col-xs-12.col-sm-6.col-lg-3
      %section.service
        %h1 就活中の学生サポート
        %p は就職活動中の大学生・大学院生を対象とした Web サービスです。2014年中にオープン予定です。
    .col-xs-12.col-sm-6.col-lg-3
      %section.service
        %h1 プログラミング塾
        %p 小学4年生～中学3年生までを対象としたプログラミング塾を2015年の夏に開講予定です。
    .col-xs-12.col-sm-6.col-lg-3
      %section.service#days
        %h1 ゆりえDays
        %p は、ゆりえと <a href="http://www.justyo.co/">Yo</a> でコミュニケーションできるサービスです。
        %p.text-center= link_to(icon('rocket', 'はじめる'), 'http://yurie.sexy/?utm_source=corporate&utm_medium=corporate&utm_content=works', class: 'btn btn-primary')
    .col-xs-12.col-sm-6.col-lg-3
      %section.service
        %p.pull-right= image_tag('sv-yasetter.png', alt: '', width: 128, height: 128)
        %h1 やせったー
        %p は、 SNS と連携できる体重・目標管理サービスです。
        %p.text-center= link_to(icon('rocket', 'はじめる'), 'http://yasetter.com/?utm_source=corporate&utm_medium=corporate&utm_content=works', class: 'btn btn-primary')
    .col-xs-12.col-sm-6.col-lg-3
      %section.service#onepad
        %h1.hide OnePad<sup>2</sup>
        %p は、登録不要でコンピュータ/スマートフォン対応、1ページだけのオンラインメモ帳 Web サービスです。
        %p.text-center= link_to(icon('rocket', 'はじめる'), 'http://onepad.anone.me/?utm_source=corporate&utm_medium=corporate&utm_content=works', class: 'btn btn-primary')
